*.py linguist-detectable=true
*.ipynb linguist-detectable=true
*.py linguist-language=Python
*.ipynb linguist-language=Python


*.ipynb linguist-language=Python


exports/* linguist-detectable=false
screenshots/* linguist-detectable=false
